.mainContainer {
  background-color: rgb(93, 116, 116);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: antiquewhite;
  width: 100%;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* .categories {
  margin-right: auto;
} */

.products {
  display: flex;
  flex: 1;
}
