.mainContainer {
  height: 100%;
  background-color: rgb(71, 61, 61);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainHome {
  display: flex;
  background-color: rgb(100, 119, 119);
  height: 10;
}